:root {
  font-family:  Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  font-weight: bold;
  color: blue;
}

#font-select {
  display: inline-block;
}

.element {
  margin-top: 16px;
}

.element > div, .toolbar {
  padding: 5px;
  margin: 5px;
  border: 1px solid #d4d4d8;
  border-radius: 4px;
  background-color:white;
}

[data-my-custom-element].ProseMirror-selectednode {
  border: 1px solid blue;
}

.element img {
  max-width: 500px;
}

ul[data-type="taskList"] {
  list-style: none;
  padding: 0;

  p {
    margin: 0;
  }

  li {
    display: flex;

    > label {
      flex: 0 0 auto;
      margin-right: 0.5rem;
      user-select: none;
    }

    > div {
      flex: 1 1 auto;
    }

    ul li,
    ol li {
      display: list-item;
    }

    ul[data-type="taskList"] > li {
      display: flex;
    }
  }
}